<a href="https://colab.research.google.com/github/shishir047/CDA5106---Project_Cache_Designing/blob/main/POS6729(Technical2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
file_path = '1stNetworkUpload.txt'

In [21]:
data_2d = []
preparedList = []
with open(file_path, 'r') as file:
    for line in file:
        row = line.strip()
        data_2d.append([row])
    for row in data_2d:
      split_row = [int(x) for x in row[0].split('\t')]
      preparedList.append(split_row)

In [22]:
hashmap = {}
for sublist in preparedList:
    key = sublist[0]
    if key in hashmap:
        hashmap[key] += 1
    else:
        hashmap[key] = 1

In [23]:
list_with_more_than_one_connection = [key for key, value in hashmap.items() if value >= 1]
print("nodes with at least one connection: ")
print(list_with_more_than_one_connection)
print("total count: ")
print(len(list_with_more_than_one_connection))

nodes with at least one connection:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97]
total count:
97

In [24]:
list_with_more_than_five_connection = [key for key, value in hashmap.items() if value >= 5]
print("nodes with at least five connection: ")
print(list_with_more_than_five_connection)
print("total count: ")
print(len(list_with_more_than_five_connection))

nodes with at least five connection:
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93]
total count:
93